<!DOCTYPE html>
<html>

<head>
    <title>申请表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p style="font-size: 20px">附件1.科技竞赛作品提交表</p>
                <br><br>
                <p style="font-size: 16px">
                    <span>作品编码：</span>
                    <span id="workCode">
                        20190627
                    </span>
                </p>
                <br>
                <p style="font-size: 22px" class="text-center">
                    大学生课外学术科技作品竞赛
                </p>
                <br><br>
                <div class="text-center">
                    <strong style="font-size: 60px">
                        作品申报书
                    </strong>
                </div>
                <br><br><br><br><br><br>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-6 text-center">
                <span style="font-size: 20px">作品名称：</span>
                <span style="font-size: 20px" id="mainTitle">XXXXXXXXXXX</span>
                <br><br>
                <span style="font-size: 20px;">院系名称：</span>
                <span style="font-size: 20px" id="department">YYYYYY</span>
                <br><br>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2"></div>
            <div class="col-lg-6" style="margin-left: 200px">
                        <B style="font-size: 22px">类别：</B>
                        <br>
                        &thinsp; &thinsp; &thinsp; &thinsp; &thinsp; &thinsp;
                        <span class="glyphicon glyphicon-unchecked" style="margin-top: 8px" id="type1"></span> &thinsp; 科技发明制作<br>
                        &thinsp; &thinsp; &thinsp; &thinsp; &thinsp; &thinsp;
                        <span class="glyphicon glyphicon-unchecked" style="margin-top: 6px" id="type2"></span> &thinsp; 调查报告和学术论文
                
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="text-center">
                    <strong style="font-size: 26px" class="text-center">
                        1&thinsp; &thinsp; &thinsp; 申报者情况
                    </strong>
                </div>
                <br>
                <p style="font-size: 16px" class="text-center">
                    说明：1.必须由申报者本人按要求填写，如果多人由第一作者填报
                </p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td rowspan="6" style="width: 8%">
                                <div style="vertical-align:middle; text-align:center; margin:100px auto; 
                            width:20px; line-height:24px;">
                                    申报者情况
                                </div>
                            </td>
                            <td style="width: 15%; vertical-align:middle; text-align:center;" >姓名</td>
                            <td style="width: 15%" id="name"></td>
                            <td style="width: 12%; vertical-align:middle; text-align:center;">学号</td>
                            <td style="width: 20%" id="stuId"></td>
                            <td style="width: 15%; vertical-align:middle; text-align:center;">出生年月</td>
                            <td id="birthday"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; text-align:center;">现学历</td>
                            <td colspan="5" style="vertical-align:middle;" id="education">（&thinsp;&thinsp;）A大专 &thinsp; &thinsp;
                                B大学本科 &thinsp; &thinsp;
                                C硕士研究生 &thinsp; &thinsp;
                                D博士研究生</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; text-align:center;">专业</td>
                            <td colspan="3" id="major"></td>
                            <td style="vertical-align:middle; text-align:center;">入学时间</td>
                            <td id="enterTime"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; text-align:center;">作品全称</td>
                            <td colspan="5" id="totalTitle"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="vertical-align:middle; text-align:center;">通讯地址</td>
                            <td rowspan="2" colspan="3" id="address"></td>
                            <td style="vertical-align:middle; text-align:center;">联系电话</td>
                            <td id="phone"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; text-align:center;">邮箱</td>
                            <td id="email"></td>
                        </tr>
                        <tr>
                            <td rowspan="5" style="width: 8%">
                                <div style="vertical-align:middle; text-align:center; margin:80px auto; 
                                        width:20px; line-height:24px;">
                                    申报者情况
                                </div>
                            </td>
                            <td style="vertical-align:middle; text-align:center; height: 60px;">姓名</td>
                            <td style="vertical-align:middle; text-align:center;">学号</td>
                            <td style="vertical-align:middle; text-align:center;">现学历</td>
                            <td style="vertical-align:middle; text-align:center;">联系电话</td>
                            <td colspan="2" style="vertical-align:middle; text-align:center;">邮箱</td>
                        </tr>
                        <tr>
                            <td id="name1"></td>
                            <td id="stuId1"></td>
                            <td id="education1"></td>
                            <td id="phone1"></td>
                            <td colspan="2" id="email1"></td>
                        </tr>
                        <tr>
                            <td id="name2"></td>
                            <td id="stuId2"></td>
                            <td id="education2"></td>
                            <td id="phone2"></td>
                            <td colspan="2" id="email2"></td>
                        </tr>
                        <tr>
                            <td id="name3"></td>
                            <td id="stuId3"></td>
                            <td id="education3"></td>
                            <td id="phone3"></td>
                            <td colspan="2" id="email3"></td>
                        </tr>
                        <tr>
                            <td id="name4"></td>
                            <td id="stuId4"></td>
                            <td id="education4"></td>
                            <td id="phone4"></td>
                            <td colspan="2" id="email4"></td>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="text-center">
                    <strong style="font-size: 26px" class="text-center">
                        2&thinsp; &thinsp; &thinsp; 申报作品情况
                    </strong>
                </div>
                <br>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td style="width: 20%; vertical-align:middle; text-align:center; height: 100px;">作品名称</td>
                            <td style="width: 80%" id="title"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%; vertical-align:middle; text-align:center; height: 100px;">作品分类</td>
                            <td style="width: 80%" id="type"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%; vertical-align:middle; text-align:center; height: 400px;">
                                作品总体<br>情况说明</td>
                            <td style="width: 80%" id="description"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%; vertical-align:middle; text-align:center; height: 100px;">创新点</td>
                            <td style="width: 80%" id="creation"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%; vertical-align:middle; text-align:center; height: 100px;">关键词</td>
                            <td style="width: 80%" id="keyword"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>